<html>
<head>
    <style>
        thead {
            font-family: "Roboto", sans-serif;
            font-size: 16px;
            color: #a0a0a0;
        }
        td {
            padding: 5px;
            border: 1px dotted grey;
        }
        table {
            margin: auto;
            margin-top: 20px;
        }
    </style>
</head>
    <body>
        <table>
            <thead>
                <tr>
                    {% for field in fields %}
                        <td>{{ field }}</td>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for masternode in masternodes %}
                    <tr>
                    {% for k, v in masternode.items %}
                        <td>{{ v }}</td>
                    {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>
